img.chain-icon {
  float: left;
  width: 36px;
  height: 36px;
  margin-right: 6px;
}

.metamask-zone {
  padding: 8px 14px;
  margin-bottom: 12px;
  display: flex;

  align-items: center;
  .chain-icon {
    margin-right: 10px;
  }
  .address {
    font-size: 14px;
    color: #7479a4;
  }
}

.install-zone {
  background: #4063dd;
  border-radius: 35px;
  display: block;
  padding: 8px 14px;
  margin-bottom: 24px;
  display: flex;

  align-items: center;
  &:last-child{
    margin-bottom: 0;
  }
  .chain-icon {
    margin-right: 10px;
  }
  .address {
    font-size: 14px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
  }
}

/* img.chain-icon-head {
  width:25px;
  height:25px;
  margin-right:5px;
  margin-left:5px;
} */
