.delphinus-modal input {
  font-size: 1.5rem;
  font-family: 'KoHo';
  font-weight: bold;
}

.dephinus-modal nav {
  padding-left:1em;
}

.delphinus-modal button {
  float: right;
  margin-left: 5px;
}

.delphinus-modal span {
  font-family: 'KoHo';
  font-weight: bold;
}

.address {
  font-size:8px;
}

.delphinus-modal button {
  margin:5px;
}

.pool-list {
  margin:5px;
  padding-right:20px;
  padding-left:5px;
}

span.chain-info {
}

span.token-name {
  font-size:16px;
  border:1px solid gray;
  padding:5px;
  border-radius: 15px;
  background-color:#222;
  color:#eee;
}

.swap-selector {
  border:1px solid #222;
  border-radius: 15px;
  padding-bottom:5px;
  overflow:hidden;
}

.swap-selector nav a.navbar-brand{
  margin-left:10px;
}
