.nav-head {
  background: #2d325a;
  height: 65px;
  display: flex;
  .brand {
    flex: 0 0 250px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 65px;

    color: #ffffff;
  }
  .address-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .action-area {
    display: flex;
    .btn-switch {
      margin: 0 4px;
      padding: 10px 12px;
      line-height: 1;
      font-size: 14px;
      font-weight: 800;
    }
  }
  @media (max-width: 992px) {
    .address-box {
      display: none;
    }
  }
  @media (max-width: 576px) {
    .brand{
      flex: unset;
      font-size: 20px;
      padding-left: 24px;
    }
  }

  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25); */
}

.nav-head .nav-content {
  font-size: 12px;
  // margin: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 992px) {
    .box {
      justify-content: flex-end;
    }
  }
}

.nav-head .icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

div.sep-v {
  display: inline;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-right: 1px solid gray;
}

.navfr {
  float: right;
}
