.account input {
  font-size: 1.5rem;
  font-family: 'KoHo';
  font-weight: bold;
}

.account input::placeholder {
  font-size: 1.5rem;
  font-family: 'KoHo';
  font-weight: bold;
}

.account span {
  font-size: 1.5rem;
  font-weight: bold;
}