.btn-pl2{
  margin-left:5px;
  font-family: 'KoHo';
}

.input {
  font-family: 'KoHo';
}

.token span {
  font-size: 1rem;
  font-weight: bold;
}

.address {
  font-size:8px;
}

.sub span {
  padding-left: 14px;
}
