.withdraw input {
  font-size: 1.5rem;
  font-family: 'KoHo';
  font-weight: bold;
}
.withdraw button {
  float: right;
}

.withdraw span {
  font-family: 'KoHo';
  font-size: 1.5rem;
  font-weight: bold;
}
